* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Controls {
    display: inline-block;
    font-size: 24px;
    width: 132px;
    height: 48px;
    margin-top: 0 auto;
    margin-left: 8px;
    margin-bottom: 64px;
}

#nextMove {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
}
  
#Products {
    display: inline-block;
    width: 396px;
    margin: 20px 193px;
    margin-right: 179px;
    color: #323232;
}
  
#Product {
    margin-left: 16px;
    font-size: 24px;
    display: inline;
    color: #323232;
}
  
#Services {
    font-size: 24px;
    display: inline;
    margin-left: 16px;
}
  
#Resources {
    font-size: 24px;
    margin-left: 16px;
    display: inline;
}
  
#Offers {
    margin-left: 16px;
    font-size: 24px;
    display: inline;
}
  
#contactUs {
    display: inline-block;
}
  
#button {
    border: 1px solid #b31aff;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #E9D7FE;
    color: #b31aff;
}
  
#cardImage {
    text-align: end;
}
  
#transparent {
    display: inline-block;
    font-size: 24px;
    margin-left: 214px;
    width: 700px;
    height: 314px;
    left: 214px;
    top: 136px;  
}

h1 {
    display: inline-block;
    margin: 0;
    font-size: 50px;
    width: 500px;
    font-family: Impact;
    left: 214px;
    top: 136px;
}

#money {
    width: 600px;
    font-size: 18px;
    left: 214px;
    top: 136px;
    color: #323232;
    font-family: "Inria Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#join {
    display: inline-block;
    font-size: 24px;
    width: 499px;
}

#joinBtn {
    display: inline;
    margin-right: 24px;
    width: 196px;
    height: 54px;
    color: white;
    background-color: #5C3BAE;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 20px;
}

#iconLoading {
    display: inline;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

#underLine {
    display: inline;
    font-size: 24px;
    border-bottom: 2px solid #5C3BAE;
    vertical-align: middle;
}