#Controls {
    display: inline-block;
    font-size: 24px;
    margin-left: 40px;
}

#iconimage {
    
}

/* #nextMove {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
} */
  
#Products {
    display: inline-block;
    width: 400px;
    margin: 20px 200px;
    color: #323232;
}
  
#Product {
    margin-left: 16px;
    font-size: 24px;
    display: inline;
    color: #323232;
}
  
#Services {
    font-size: 24px;
    display: inline;
    margin-left: 16px;
}
  
#Resources {
    font-size: 24px;
    margin-left: 16px;
    display: inline;
}
  
#Offers {
    margin-left: 16px;
    font-size: 24px;
    display: inline;
}
  
#contactUs {
    display: inline-block;
}
  
#button {
    border: 1px solid #b31aff;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #E9D7FE;
    color: #b31aff;
}
  
#cardImage {
    text-align: end;
}
  
#transparent {
    display: inline-block;
    font-size: 24px;
    margin-left: 6px;
    padding: 0px;
    width: 841px;
    height: 314px;
    left: 214px;
    top: 136px;  
}

h1 {
    font-size: xx-large;
    width: 300px;
    margin-left: 190px;
    padding: 0px;
    left: 214px;
    top: 136px;
}

#money {
    width: 600px;
    margin-left: 190px;
    font-size: 18px;
    padding: 0px;
    left: 214px;
    top: 136px;
}

#join {
    display: inline-block;
    font-size: 24px;
    margin-left: 40px;
}

#iconLoading {
    display: inline;
    font-size: 24px;
    margin-left: 360px;
    height: 32px;
}

#joinButton {
    display: inline-block;
    border-radius: 8px;
    width: 204px;
    height: 54px;
    margin-left: 148px;
    font-size: medium;
    color: white;
    background-color: #5C3BAE;
    border: solid 2px #5C3BAE;
}

#underLine {
    display: inline-block;
    font-size: 24px;
    margin-left: 3px;
    width: 170px;
    height: 22px;
}